body {
    background-color: #f5f5fa;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: #f02861;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}
.error {
    color: #f02861;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
.form-subtitle-text {
    color: #707070;
    font-size: 20px;
    font-weight: 500;
}
.form {
    width: 100%;
}
.form-field {
    margin-bottom: 10px;
}
.form-field input,
.form-field textarea {
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #333;
    box-sizing: border-box;
}
.form-field textarea {
    min-height: 150px;
    resize: none;
}

.form-button {
    width: 100%;
    background-color: #24a3ff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
.form-button:hover {
    background-color: #1e88e5;
}
