table {
    border-collapse: collapse;
}

td {
    border: 1px solid #c8c8c8;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 14px;
}

tr {
    text-align: center;
}

.first-row {
    background-color: #283583;
    color: #ffffff;
}

.first-cell {
    background-color: #e37440;
    color: #ffffff;
}
.first-row-cell {
    background-color: #9d9d9c;
    color: #ffffff;
}
.equal-cell {
    background-color: #3ea536;
    color: #ffffff;
}

.light-cell {
    background-color: #f9dfcf;
}
.dark-cell {
    background-color: #bebada;
}
