div {
    box-sizing: border-box;
}
.container {
    width: 100%;
}
.weather-widget {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: #4d5cee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather-widget__info {
    display: flex;
    flex-wrap: wrap;
}
.weather-widget__main-info {
    width: 70%;
    padding-bottom: 15px;
}
.weather-widget__details {
    width: 30%;
    text-align: center;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0px 0px 5px 0px;
}
.weather-widget__city {
    font-weight: 700;
    font-size: 36px;
}
.weather-widget__date,
.weather-widget__time {
    margin: 10px 0;
    font-size: 18px;
}
.weather-widget__time {
    margin-bottom: 20px;
}
.weather-widget__temperature {
    font-size: 36px;
    font-weight: 700;
}
.weather-widget__description {
    font-weight: 700;
}
.refresh-btn {
    background-color: #2c38ba;
    color: #fff;
    border: 0px;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.refresh-btn:hover {
    background-color: #2732a8;
}
